<?xml version="1.0"?>
<HenkSDI xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <!--PITCH SDI-->
    <Device>
      <ConnectionType>USB</ConnectionType>
      <COMPort>COM1</COMPort>
      <Address>0x30</Address>
      <PowerDownConfig>
        <Enabled>false</Enabled>
        <Level>Half</Level>
        <DelayTimeMilliseconds>512</DelayTimeMilliseconds>
      </PowerDownConfig>
      <StatorBaseAnglesConfig>
        <S1BaseAngleDegrees>240</S1BaseAngleDegrees>
        <S2BaseAngleDegrees>0</S2BaseAngleDegrees>
        <S3BaseAngleDegrees>120</S3BaseAngleDegrees>
      </StatorBaseAnglesConfig>
      <MovementLimitsConfig>
        <Min>35</Min>
        <Max>175</Max>
      </MovementLimitsConfig>
      <OutputChannelsConfig>
        <DIG_PWM_1>Digital</DIG_PWM_1>
        <DIG_PWM_2>Digital</DIG_PWM_2>
        <DIG_PWM_3>Digital</DIG_PWM_3>
        <DIG_PWM_4>Digital</DIG_PWM_4>
        <DIG_PWM_5>Digital</DIG_PWM_5>
        <DIG_PWM_6>Digital</DIG_PWM_6>
        <DIG_PWM_7>Digital</DIG_PWM_7>
      </OutputChannelsConfig>
      <UpdateRateControlConfig>
        <Mode>Limit</Mode>
        <LimitThreshold>0</LimitThreshold>
        <SmoothingMinimumThreshold>0</SmoothingMinimumThreshold>
        <SmoothingMode>Adaptive</SmoothingMode>
        <StepUpdateDelayMillis>8</StepUpdateDelayMillis>
        <UseShortestPath>false</UseShortestPath>
      </UpdateRateControlConfig>
      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>
    </Device>
    
    <!--ROLL SDI-->
    <Device>
      <ConnectionType>USB</ConnectionType>
      <COMPort>COM2</COMPort>
      <Address>0x32</Address>
      <PowerDownConfig>
        <Enabled>false</Enabled>
        <Level>Half</Level>
        <DelayTimeMilliseconds>512</DelayTimeMilliseconds>
      </PowerDownConfig>
      <StatorBaseAngles>
        <S1BaseAngleDegrees>210</S1BaseAngleDegrees>
        <S2BaseAngleDegrees>330</S2BaseAngleDegrees>
        <S3BaseAngleDegrees>90</S3BaseAngleDegrees>
      </StatorBaseAngles>
      <MovementLimitsConfig>
        <Min>0</Min>
        <Max>255</Max>
      </MovementLimitsConfig>
      <OutputChannelsConfig>
        <DIG_PWM_1>Digital</DIG_PWM_1>
        <DIG_PWM_2>Digital</DIG_PWM_2>
        <DIG_PWM_3>Digital</DIG_PWM_3>
        <DIG_PWM_4>Digital</DIG_PWM_4>
        <DIG_PWM_5>Digital</DIG_PWM_5>
        <DIG_PWM_6>Digital</DIG_PWM_6>
        <DIG_PWM_7>Digital</DIG_PWM_7>
      </OutputChannelsConfig>
      <UpdateRateControlConfig>
        <Mode>Limit</Mode>
        <LimitThreshold>0</LimitThreshold>
        <SmoothingMinimumThreshold>0</SmoothingMinimumThreshold>
        <SmoothingMode>Adaptive</SmoothingMode>
        <StepUpdateDelayMillis>8</StepUpdateDelayMillis>
        <UseShortestPath>true</UseShortestPath>
      </UpdateRateControlConfig>
      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>
    </Device>
  
  </Devices>
</HenkSDI>