<?xml version="1.0"?>
<HenkSDI xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Device>
      <ConnectionType>USB</ConnectionType>
      <COMPort>COM1</COMPort>
      <DOAAddress>0x32</DOAAddress>
      <PowerDown>
        <Enabled>true</Enabled>
        <Level>Half</Level>
        <DelayTimeMilliseconds>255</DelayTimeMilliseconds>
      </PowerDown>
      <StatorBaseAngles>
        <S1>0</S1>
        <S2>48</S2>
        <S3>80</S3>
      </StatorBaseAngles>
      <MovementLimits>
        <Min>0</Min>
        <Max>255</Max>
      </MovementLimits>
      <OutputChannels>
        <Channel1>Digital</Channel1>
        <Channel2>Digital</Channel2>
        <Channel3>Digital</Channel3>
        <Channel4>Digital</Channel4>
        <Channel5>Digital</Channel5>
        <Channel6>Digital</Channel6>
        <Channel7>PWM</Channel7>
      </OutputChannels>
      <UpdateRateControl>
        <Mode>Limit</Mode>
        <LimitThreshold>0</LimitThreshold>
        <SmoothingMinimumThreshold>0</SmoothingMinimumThreshold>
        <SmoothingMode>Adaptive</SmoothingMode>
        <StepUpdateDelayMillis>8</StepUpdateDelayMillis>
        <UseShortestPath>true</UseShortestPath>
      </UpdateRateControl>
      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>
    </Device>
  </Devices>
</HenkSDI>